
/* media queries */

@media (max-width: 540px) {

    #tb1 {
        font-size: .7rem;
    }
    body {
        font-size: 1rem;

    }
    .navbar-brand{
        
        font-size: 1rem;
    }

}

